# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.vscode/

# Environment
.env
.env.*

# Logs
*.log

# Uploaded Files
backend/uploads/resumes/

# OS Files
Thumbs.db
.DS_Store